[submodule "nvidia_docker/project/jupyter"]
	path = nvidia_docker/project/jupyter
	url = https://github.com/allenyllee/jupyter.git
[submodule "nvidia_docker/project/CUDA_Samples_for_Linux"]
	path = nvidia_docker/project/CUDA_Samples_for_Linux
	url = https://github.com/allenyllee/CUDA_Samples_for_Linux.git
[submodule "nvidia_docker/project/pix2pix-tensorflow"]
	path = nvidia_docker/project/pix2pix-tensorflow
	url = https://github.com/allenyllee/pix2pix-tensorflow.git
[submodule "nvidia_docker/project/CUDA-By-Example"]
	path = nvidia_docker/project/CUDA-By-Example
	url = https://github.com/allenyllee/CUDA-By-Example.git
[submodule "Dockerfile/condaD"]
	path = Dockerfile/condaD
	url = https://github.com/allenyllee/condaD.git
[submodule "Dockerfile/motion-webcam-server"]
	path = Dockerfile/motion-webcam-server
	url = https://github.com/allenyllee/motion-webcam-server.git
[submodule "nvidia_docker/cuda90"]
	path = nvidia_docker/cuda90
	url = https://github.com/allenyllee/cuda90.git
[submodule "nvidia_docker/cuda80-fix"]
	path = nvidia_docker/cuda80-fix
	url = https://github.com/allenyllee/cuda80-fix.git
[submodule "Dockerfile/wine-base"]
	path = Dockerfile/wine-base
	url = https://github.com/allenyllee/wine-base.git
[submodule "gist/import_json_appsscript"]
	path = gist/import_json_appsscript
	url = https://gist.github.com/c764c86ed722417948fc256b7a5077c4.git
[submodule "gist/my_investment"]
	path = gist/my_investment
	url = https://gist.github.com/43dc25a18ac687cfea7f5a64707b9a83.git
[submodule "gist/ppt2pdf"]
	path = gist/ppt2pdf
	url = https://gist.github.com/5d7c4a16ae0e33375e4a6d25acaeeda2.git
[submodule "gist/fetch_gdrive_file"]
	path = gist/fetch_gdrive_file
	url = https://gist.github.com/ac42730e9c756e0aeb9b2f07424b68dd.git
