[submodule "nvidia_docker/project/jupyter"]
	path = nvidia_docker/project/jupyter
	url = https://github.com/allenyllee/jupyter.git
[submodule "nvidia_docker/project/CUDA_Samples_for_Linux"]
	path = nvidia_docker/project/CUDA_Samples_for_Linux
	url = https://github.com/allenyllee/CUDA_Samples_for_Linux.git
[submodule "nvidia_docker/project/pix2pix-tensorflow"]
	path = nvidia_docker/project/pix2pix-tensorflow
	url = https://github.com/allenyllee/pix2pix-tensorflow.git
[submodule "nvidia_docker/project/CUDA-By-Example"]
	path = nvidia_docker/project/CUDA-By-Example
	url = https://github.com/allenyllee/CUDA-By-Example.git
[submodule "Dockerfile/condaD"]
	path = Dockerfile/condaD
	url = https://github.com/allenyllee/condaD.git
[submodule "Dockerfile/motion-webcam-server"]
	path = Dockerfile/motion-webcam-server
	url = https://github.com/allenyllee/motion-webcam-server.git
[submodule "nvidia_docker/cuda90"]
	path = nvidia_docker/cuda90
	url = https://github.com/allenyllee/cuda90.git
[submodule "Dockerfile/wine-base"]
	path = Dockerfile/wine-base
	url = https://github.com/allenyllee/wine-base.git
[submodule "gist/import_json_appsscript"]
	path = gist/import_json_appsscript
	url = https://gist.github.com/c764c86ed722417948fc256b7a5077c4.git
[submodule "gist/my_investment"]
	path = gist/my_investment
	url = https://gist.github.com/43dc25a18ac687cfea7f5a64707b9a83.git
[submodule "gist/ppt2pdf"]
	path = gist/ppt2pdf
	url = https://gist.github.com/5d7c4a16ae0e33375e4a6d25acaeeda2.git
[submodule "gist/fetch_gdrive_file"]
	path = gist/fetch_gdrive_file
	url = https://gist.github.com/ac42730e9c756e0aeb9b2f07424b68dd.git
[submodule "gist/reverse_sshfs"]
	path = gist/reverse_sshfs
	url = https://gist.github.com/ddf9be045810572cd809ae3587a23658.git
[submodule "gist/ubuntu_setup_from_git"]
	path = gist/ubuntu_setup_from_git
	url = https://gist.github.com/27e780b7ce7bd1248a754dff1ea3b011.git
[submodule "repo/Machine-Learning-Foundations"]
	path = repo/Machine-Learning-Foundations
	url = https://github.com/allenyllee/Machine-Learning-Foundations.git
[submodule "repo/AllenYL_Coding_Exercises"]
	path = repo/AllenYL_Coding_Exercises
	url = https://github.com/allenyllee/AllenYL_Coding_Exercises.git
[submodule "gist/Pega_BIOS_Bring-Up"]
	path = gist/Pega_BIOS_Bring-Up
	url = https://gist.github.com/f7b0abce312ad210fbe6f9ad0061f1a3.git
[submodule "gist/Linux_Driver_Coding_Notes"]
	path = gist/Linux_Driver_Coding_Notes
	url = https://gist.github.com/d7431053780f469b30bfd4a073ebf711.git
[submodule "Dockerfile/cuda80-fix"]
	path = Dockerfile/cuda80-fix
	url = https://github.com/allenyllee/cuda80-fix.git
[submodule "repo-liteon/BELMAR"]
	path = repo-liteon/BELMAR
	url = https://gitlab.com/allenyllee/BELMAR.git
[submodule "repo-liteon/EP3_TPE"]
	path = repo-liteon/EP3_TPE
	url = https://gitlab.com/allenyllee/EP3_TPE.git
[submodule "repo-liteon/LiteonSSDFramework"]
	path = repo-liteon/LiteonSSDFramework
	url = https://gitlab.com/allenyllee/LiteonSSDFramework.git
[submodule "repo-liteon/xtensa_X_docker"]
	path = repo-liteon/xtensa_X_docker
	url = https://gitlab.com/allenyllee/xtensa_X_docker.git
	branch = xtensa
[submodule "repo-uefi/uefi-simple"]
	path = repo-uefi/uefi-simple
	url = https://github.com/allenyllee/uefi-simple.git
[submodule "repo-uefi/UEFITool"]
	path = repo-uefi/UEFITool
	url = https://github.com/allenyllee/UEFITool.git
[submodule "repo-parser/lex_yacc"]
	path = repo-parser/lex_yacc
	url = https://github.com/allenyllee/lex_yacc.git
[submodule "repo-uefi/SmmBackdoor"]
	path = repo-uefi/SmmBackdoor
	url = https://github.com/allenyllee/SmmBackdoor.git
[submodule "repo-js/learn-js"]
	path = repo-js/learn-js
	url = https://github.com/allenyllee/learn-js.git
	branch = tutorial
[submodule "repo-dll/DLLtutorial"]
	path = repo-dll/DLLtutorial
	url = https://github.com/allenyllee/DLLtutorial.git
[submodule "repo-uefi/edk2"]
	path = repo-uefi/edk2
	url = https://github.com/allenyllee/edk2.git
[submodule "repo-uefi/BasicInputOutput"]
	path = repo-uefi/BasicInputOutput
	url = https://github.com/allenyllee/BasicInputOutput.git
[submodule "repo/GitBackupBundle"]
	path = repo/GitBackupBundle
	url = https://github.com/allenyllee/GitBackupBundle.git
[submodule "repo-arm/arm-tutorial-rpi"]
	path = repo-arm/arm-tutorial-rpi
	url = https://github.com/allenyllee/arm-tutorial-rpi.git
[submodule "repo-asm/learn-assembly"]
	path = repo-asm/learn-assembly
	url = https://github.com/allenyllee/learn-assembly.git
[submodule "repo-uefi/ezmake2"]
	path = repo-uefi/ezmake2
	url = https://allenyllee@bitbucket.org/allenyllee/ezmake2.git
[submodule "repo-crypto/GenRsa"]
	path = repo-crypto/GenRsa
	url = https://github.com/allenyllee/GenRsa.git
[submodule "gist/Timer-bat"]
	path = gist/Timer-bat
	url = https://gist.github.com/9b692bb8e4d7f35d7848e78a28c8946c.git
[submodule "repo-press/allenyllee.github.io"]
	path = repo-press/allenyllee.github.io
	url = https://github.com/allenyllee/allenyllee.github.io.git
[submodule "repo-pega/pega-homework"]
	path = repo-pega/pega-homework
	url = https://github.com/allenyllee/pega-homework.git
[submodule "repo-cpu/The-CPUID-Explorer"]
	path = repo-cpu/The-CPUID-Explorer
	url = https://github.com/allenyllee/The-CPUID-Explorer.git
[submodule "repo-crypto/RSA-exercise"]
	path = repo-crypto/RSA-exercise
	url = https://github.com/allenyllee/RSA-exercise.git
[submodule "repo-pega/pega-plog-parser"]
	path = repo-pega/pega-plog-parser
	url = https://allenyllee@bitbucket.org/allenyllee/pega-plog-parser.git
[submodule "repo-pci/pciutils"]
	path = repo-pci/pciutils
	url = https://github.com/allenyllee/pciutils.git
	branch = windows-build
[submodule "repo-ai/neural-networks-and-deep-learning"]
	path = repo-ai/neural-networks-and-deep-learning
	url = https://github.com/allenyllee/neural-networks-and-deep-learning.git
[submodule "repo-parallel/tbb"]
	path = repo-parallel/tbb
	url = https://github.com/allenyllee/tbb.git
[submodule "repo-python/learn-python"]
	path = repo-python/learn-python
	url = https://github.com/allenyllee/learn-python.git
[submodule "repo-unity/Unity-GUI-Study"]
	path = repo-unity/Unity-GUI-Study
	url = https://github.com/allenyllee/Unity-GUI-Study.git
[submodule "repo-igs/cube-network-physics"]
	path = repo-igs/cube-network-physics
	url = https://allenyllee@bitbucket.org/allenyllee/cube-network-physics.git
