#!/bin/bash

#
# copy this file to ~/.xprofile
#

#
# drivers - How to get a higher resolution on Ubuntu 11.04 using an intel chipset - Super User
# https://superuser.com/questions/311378/how-to-get-a-higher-resolution-on-ubuntu-11-04-using-an-intel-chipset
#
xrandr --newmode "1920x1080_60.00"  173.00  1920 2048 2248 2576  1080 1083 1088 1120 -hsync +vsync
xrandr --addmode VGA1 "1920x1080_60.00"
xrandr --output VGA1 --mode "1920x1080_60.00"

